/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*estilo body*/
body{
    background-color: antiquewhite;
    
    /*estilo header*/    
}


.colorFondoPrincipal{
    background-color: rgba(128, 128, 128, 0.692);
    position: sticky;
    top: 0px;
    z-index: 10;
    
}
/*la navegacion*/
.listaNavegacion{
    list-style: none;
}


.linkNav{
    display: inline-block;
    background-color: black;
    text-decoration: none;
    color: rgb(19, 193, 216);
    font-size: 20px;
    margin: 5px;
}

/*aca van las cosas del main */

.mainClase{
    
}
    

/*primera section*/
.sectionPrincipalIndex{
    background-color: beige;
    font-size: 35px;
    margin: 20px;
    text-shadow: -4px 2px 0px rgba(17,130,159,0.39);
}
/*segunda section*/
 .sectionIndexSec{
    background-color: rgba(0, 0, 255, 0);
    font-size: 1rem;
    text-align: center;
    height: 50vh;
    width: 850px;
    margin: 50px auto;
    padding: 50px;
    border: 8px outset #50caff;
    box-shadow: 15px 2px 17px 0px rgba(10,10,10,0.58);
    -webkit-box-shadow: 15px 2px 17px 0px rgba(10,10,10,0.58);
    -moz-box-shadow: 15px 2px 17px 0px rgba(10,10,10,0.58);
}     

.section_box_fixed{
    background-color: greenyellow;
    height: 50px;
    width: 50px;
    bottom: 10px;
    position: fixed;
    right: 10px;
    padding-top: 20px;
    
}

/*estilos centrados de texto*/
.textoCentrado{
    text-align: center;
}